body
{
background-color: #246481;
text-align: center;
}
.title
{
  margin-top:20px;
  padding-top: 10px;
    color:#246481;
    font-family:Lato,Arial,sans-serif; 

}
.textboxes
{
height: 50px;
width: 300px;
padding-left: 10px;
margin-left: 23px;
border-bottom: none;
border-top: none;
border-left: none;
border-right: none;


}
.textbox1
{
    margin-left: 36px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}
.textbox4
{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 20px;
}
.r
{
    z-index:5;
    position: relative;
    right:15px;
    top:7px;
}
.back
{
    border-radius: 5px;
    background-color: white;
    width:fit-content;
    position: relative;
    text-align: center;
    left:496px;
    top:150px;
   align-content: center;
}
.left
{
    text-align: left;
    padding-left: 20px;
    color:#adabab;
   
    border-bottom: 1px solid #adabab;
}

.textbox2
{
    margin-left: 66px;
}
